@import 'font-face';

@charset 'UTF-8';

@font-face {
    @include font-face('Liquid Crystal', 'liquid-crystal-webfont', 'liquid_crystalXBdIt', normal, normal);
}

@font-face {
    @include font-face('Droid Sans', 'droid-sans-webfont', 'droid_sansregular', normal, normal);
}

@font-face {
    @include font-face('Droid Sans', 'droid-sans-bold-webfont', 'droid_sansbold', bold, normal);
}

@font-face {
    @include font-face('Droid Sans Mono', 'droid-sans-mono-webfont', 'droid_sans_monoregular', normal, normal);
}

@font-face {
    @include font-face('Glyphs', 'glyphs', 'glyphs', normal, normal);
}

[data-icon]:before {
    content: attr(data-icon);
}

[data-icon]:before,
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'Glyphs' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-undo:before {
  content: "a";
}
.icon-yc-backspace:before {
  content: "b";
}
.icon-fa-plus:before {
  content: "c";
}
.icon-fa-minus:before {
  content: "d";
}
.icon-fa-pencil:before {
  content: "e";
}
.icon-fa-clock:before {
  content: "f";
}
.icon-fa-book:before {
  content: "g";
}
.icon-fa-question-mark:before {
  content: "h";
}
.icon-fa-dollar-sign:before {
  content: "i";
}
.icon-fa-double-quote:before {
  content: "j";
}
.icon-fa-ellipsis:before {
  content: "k";
}
.icon-fa-info:before {
  content: "l";
}
.icon-fa-reset:before {
  content: "m";
}
.icon-fa-terminal:before {
  content: "n";
}
.icon-fa-magnifying-glass:before {
  content: "o";
}
.icon-yc-dice:before {
  content: "p";
}
.icon-yc-coin:before {
  content: "q";
}
