@import 'font-face';

@charset 'UTF-8';

@font-face {
    @include font-face('Liquid Crystal', 'liquid-crystal-webfont', 'liquid_crystalXBdIt', normal, normal);
}

@font-face {
    @include font-face('Droid Sans', 'droid-sans-webfont', 'droid_sansregular', normal, normal);
}

@font-face {
    @include font-face('Droid Sans', 'droid-sans-bold-webfont', 'droid_sansbold', bold, normal);
}

@font-face {
    @include font-face('Droid Sans Mono', 'droid-sans-mono-webfont', 'droid_sans_monoregular', normal, normal);
}

@font-face {
    @include font-face('Glyphs', 'glyphs', 'glyphs', normal, normal);
}

[data-icon]:before {
    content: attr(data-icon);
}

[data-icon]:before,
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'Glyphs' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-undo:before {
  content: "\e000";
}
.icon-fa-plus:before {
  content: "\e001";
}
.icon-fa-minus:before {
  content: "\e002";
}
.icon-fa-pencil:before {
  content: "\e003";
}
.icon-fa-clock:before {
  content: "\e004";
}
.icon-fa-book:before {
  content: "\e005";
}
.icon-fa-question-mark:before {
  content: "\e006";
}
.icon-fa-ellipsis:before {
  content: "\e007";
}
.icon-fa-info:before {
  content: "\e008";
}
.icon-fa-reset:before {
  content: "\e009";
}
.icon-fa-terminal:before {
  content: "\e00a";
}
.icon-yc-dice:before {
  content: "\e00b";
}
.icon-yc-coin:before {
  content: "\e00c";
}
.icon-yc-backspace:before {
  content: "\e00d";
}
.icon-fa-unlock:before {
  content: "\e00e";
}
.icon-fa-mallet:before {
  content: "\e00f";
}
.icon-fa-decrement:before {
  content: "\e010";
}
.icon-fa-increment:before {
  content: "\e011";
}
.icon-fa-increment-decrement:before {
  content: "\e012";
}
.icon-fa-x:before {
  content: "\e013";
}
