@import 'css3';

* {
    @include box-sizing(border-box);
    @include user-select(none);
    // Remove iOS translucent-black click-rectangles.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    // Fix iOS rotation bug.
    -webkit-text-size-adjust: none;
}

html,
body {
    height: 100%;
    color: #222;
    line-height: 1;
    @include user-select();
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Droid Sans';
}

.yc-monospace-font [class *= "pure-u"] {
    font-family: 'Droid Sans Mono';
}

.yc-timer-font [class *= "pure-u"] {
    font-family: 'Liquid Crystal';
}

.yc-calculator {
    // overflow: hidden; // Off for testing, on for production.
    height: 100%;
    background: #131313 url('../images/dark-leather.jpg') center center;
}

.yc-standard-row {
    height: 15%;
}

.yc-operation-row {
    height: 10%;
}

.yc-cell {
    position: relative;
    height: 100%;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

$yc-button-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25), inset 0 5px 30px rgba(0, 0, 0, 0.25);
.yc-cell:active .yc-button,
.yc-button.yc-pressable-button:active {
    position: relative;
    top: 1px;
    box-shadow: $yc-button-box-shadow;
}

.yc-window-exit-button:active {
    position: absolute;
    margin-top: 1px;
    box-shadow: $yc-button-box-shadow;
}

.yc-unpadded-cell {
    padding: 0;
}

.yc-life-points {
    overflow: hidden;
}

.yc-tap-hint {
    display: table;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 2%;
    text-align: left;
}

.yc-tap-hint-content {
    display: table-cell;
    vertical-align: bottom;
}

.yc-lcd {
    color: #0C170C;
    background-color: #B2CCB1;
}

.yc-selected-life-points,
.yc-selected-operand-digit {
    background-color: #899c88;
}

#yc-player-0.yc-selected-life-points {
    border-radius: 0 0 10px 0;
}

#yc-player-1.yc-selected-life-points {
    border-radius: 0 0 0 10px;
}

.yc-expression {
    white-space: nowrap;
    overflow: hidden;
}

// All of these containers should fill their vertical space so that they will
// look like buttons.
.yc-button,
.yc-life-points,
.yc-expression,
.yc-timer,
.yc-timer-display {
    height: 100%;
}

.yc-button,
.yc-timer {
    border-radius: 7px;
    cursor: pointer;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.yc-button {
    border: 1px solid rgba(0, 0, 0, .05);
    color: #ddd;
    text-shadow: 0px -2px 0px rgba(0, 0, 0, .5);
    background-color: #333;
    background-image: linear-gradient(to bottom,
                                      rgba(255, 255, 255, 0.075) 45%,
                                      rgba(0, 0, 0, 0) 55%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.yc-timer {
    color: #f12938;
    text-shadow: 0 0 3px #f12938;
    background-color: #000000;
    border: 1px solid rgba(241, 41, 56, .05);
    box-shadow: 0 0 2px 1px rgba(241, 41, 56, 0.33);
}

.yc-operator-button {
    background-color: #464 !important;
}
.yc-removal-button {
    background-color: #c33 !important;
}
.yc-special-button {
    background-color: #626669 !important;
}
.yc-cancel-button {
    font-weight: bold;
}
.yc-evaluating {
    background-color: #E38C32 !important;
}

.yc-glyph {
    font-family: 'Glyphs';
}

.yc-glyph {
    * [class^='icon-']:before,
    * [class*=' icon-']:before {
        display: block;
        height: 100%;
        line-height: default;
    }
}

.yc-window {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 2%;
    text-align: center;
    background-color: #000;
    background-color: rgba(0, 0, 0, .9);
}

$window-exit-button-displacement: 2%;
$window-exit-button-height: 15%;
.yc-window-exit-button {
    position: absolute;
    top: $window-exit-button-displacement;
    right: $window-exit-button-displacement;
    width: 20%;
    height: $window-exit-button-height;
    background-color: #c33;
}

.yc-window-content {
    display: none;
    height: 100%;
}

$yc-window-dummy-padding: 2%;
.yc-window-dummy-top-padding {
    height: $window-exit-button-displacement + $window-exit-button-height + $yc-window-dummy-padding;
}

.yc-window-dummy-padding {
    height: $yc-window-dummy-padding;
}

// 100 - (2 + 15 + 2 + 2 + 15 + 2) = 62
.yc-notes {
    width: 100%;
    height: 62%;
    border: none;
    line-height: 1;
    text-align: left;
    color: #222;
    background-color: #FFFEDE;
    resize: none;
    user-select: text;
    -webkit-overflow-scrolling: touch;
}

.yc-notes-clear-button {
    display: inline-block;
    width: 50%;
    height: 15%;
}

.yc-history-table-container {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 79%;
    background-color: #ddd;
}

.yc-history-table {
    width: 100%;
    table-layout: fixed;

    td {
        vertical-align: middle;

        &.yc-history-display-name,
        &.yc-history-description,
        &.yc-history-timestamp {
            text-align: center;
        }

        &.yc-history-display-name {
            width: 20%;
        }

        &.yc-history-icon {
            width: 10%;
        }

        &.yc-history-description {
            width: 40%;
        }

        &.yc-history-timestamp {
            width: 30%;
        }
    }
}

.yc-history-row td {
    padding: 1%;
}

.yc-history-neutral {
    color: #222;
    &:nth-child(odd) {
        background-color: #999;
    }
    &:nth-child(even) {
        background-color: #bbb;
    }
}

.yc-history-player-0 {
    color: #7c0037;
    &:nth-child(odd) {
        background-color: #ff6bad;
    }
    &:nth-child(even) {
        background-color: #ff9ec9;
    }
}

.yc-history-player-1 {
    color: #002b67;
    &:nth-child(odd) {
        background-color: #569cff;
    }
    &:nth-child(even) {
        background-color: #89baff;
    }
}

/* CSS3 Shake animation for changing rolls/flips */
@keyframes spaceboots {
    0% { transform: translate(4px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -4px) rotate(-1deg); }
    20% { transform: translate(-6px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 4px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 4px) rotate(-1deg); }
    60% { transform: translate(-6px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(4px, 4px) rotate(0deg); }
    100% { transform: translate(2px, -4px) rotate(-1deg); }
}

.yc-shake {
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.yc-random-container {
    height: 79%;
}

.yc-random-row {
    height: 50%;
}

.yc-random-button {
}

.yc-last-roll,
.yc-last-flip {
    height: 100%;
    color: #ddd;
}

.yc-last-roll {
}

.yc-last-flip {
}