@import 'css3';

* {
    @include box-sizing(border-box);
    @include user-select(none);
    // Remove iOS translucent-black click-rectangles.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    // Fix iOS rotation bug.
    -webkit-text-size-adjust: none;
}

html,
body {
    height: 100%;
    color: #222;
    line-height: 1;
    @include user-select();
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Droid Sans';
}

.yc-monospace-font [class *= "pure-u"] {
    font-family: 'Droid Sans Mono';
}

.yc-timer-font [class *= "pure-u"] {
    font-family: 'Liquid Crystal';
}

.yc-calculator {
    // overflow: hidden; // Off for testing, on for production.
    height: 100%;
    background: #131313 url('../images/dark-leather.jpg') center center;
}

.yc-standard-row {
    height: 15%;
}

.yc-operation-row {
    height: 10%;
}

.yc-cell {
    position: relative;
    height: 100%;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.yc-unpadded-cell {
    padding: 0;
}

.yc-tap-hint {
    position: absolute;
    top: 0;
    height: 100%;
    text-align: left;
}

.yc-lcd {
    color: #0C170C;
    background-color: #B2CCB1;
}

.yc-selected-life-points,
.yc-selected-operation-digit {
    background-color: #899c88;
}

#yc-player-0.yc-selected-life-points {
    border-radius: 0 0 10px 0;
}

#yc-player-1.yc-selected-life-points {
    border-radius: 0 0 0 10px;
}

.yc-selected-operation-digit {
    display: inline-block;
}

// All of these containers should fill their vertical space so that they will
// look like buttons.
.yc-button,
.yc-life-points,
.yc-operand,
.yc-timer {
    height: 100%;
}

.yc-button,
.yc-timer {
    border-radius: 7px;
    cursor: pointer;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.yc-button {
    border: 1px solid rgba(0, 0, 0, .05);
    color: #ddd;
    text-shadow: 0px -2px 0px rgba(0, 0, 0, .5);
    background-color: #333;
    background-image: linear-gradient(to bottom,
                                      rgba(255, 255, 255, 0.075) 45%,
                                      rgba(0, 0, 0, 0) 55%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.yc-timer {
    color: #f12938;
    text-shadow: 0 0 3px #f12938;
    background-color: #000000;
    border: 1px solid rgba(241, 41, 56, .05);
    box-shadow: 0 0 2px 1px rgba(241, 41, 56, 0.33);
}

.yc-operator-button {
    background-color: #464 !important;
}
.yc-removal-button {
    background-color: #c33 !important;
}
.yc-special-button {
    background-color: #626669 !important;
}
.yc-cancel-button {
    font-weight: bold;
}

.yc-glyph {
    font-family: 'Glyphs';
}

.yc-glyph {
    * [class^='icon-']:before,
    * [class*=' icon-']:before {
        display: block;
        height: 100%;
        line-height: default;
    }
}

.yc-window {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
}

$exit-button-diameter: 60px;
.yc-exit-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: $exit-button-diameter;
    height: $exit-button-diameter;
    font-size: 48px;
    line-height: $exit-button-diameter;
    text-align: center;
    border-radius: 100%;
}

.yc-window-content {
    display: none;
    padding-top: $exit-button-diameter + 10;
}