<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title>Yugioh Calculator | Free, Online Web App for Android, iPhone, iPad, iOS, BlackBerry &amp; Windows Phone</title>
        <meta name="description" content="A free Yugioh calculator app for iPhone, iPod, iPad, Android, BlackBerry & Windows Phone. Records Life Points and much more!">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="Yugioh Calc">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="canonical" href="http://www.yugiohcalculator.com/">
        <link rel="shortcut icon" href="favicon.ico">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/pure/pure.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/fonts.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="../bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>

        <div id="yc-calculator" class="yc-calculator">

            <div class="pure-g yc-standard-row yc-monospace-font yc-lcd">
                <div id="yc-player-0" class="pure-u-1-2 yc-cell yc-unpadded-cell">
                    <div class="yc-life-points"></div>
                    <div class="yc-tap-hint">
                        <div class="yc-tap-hint-content"></div>
                    </div>
                </div>
                <div id="yc-player-1" class="pure-u-1-2 yc-cell yc-unpadded-cell">
                    <div class="yc-life-points"></div>
                    <div class="yc-tap-hint">
                        <div class="yc-tap-hint-content"></div>
                    </div>
                </div>
            </div>

            <div class="pure-g yc-operation-row yc-monospace-font yc-lcd">
                <div class="pure-u-1-1 yc-cell yc-unpadded-cell">
                    <div id="yc-expression" class="yc-expression"></div>
                </div>
            </div>

            <div class="pure-g yc-standard-row">
                <div class="pure-u-1-5 yc-cell yc-restart-timer">
                    <div class="yc-button yc-main-button yc-special-button yc-glyph">
                        <div class="icon-fa-clock"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-reset-life-points">
                    <div class="yc-button yc-main-button yc-special-button yc-glyph">
                        <div class="icon-fa-reset"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="7">
                    <div class="yc-button yc-main-button">7</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="8">
                    <div class="yc-button yc-main-button">8</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="9">
                    <div class="yc-button yc-main-button">9</div>
                </div>
            </div>

            <div class="pure-g yc-standard-row">
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="notes">
                        <div class="icon-fa-pencil"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="history">
                        <div class="icon-fa-book"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="4">
                    <div class="yc-button yc-main-button">4</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="5">
                    <div class="yc-button yc-main-button">5</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="6">
                    <div class="yc-button yc-main-button">6</div>
                </div>
            </div>

            <div class="pure-g yc-standard-row">
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="ruling">
                        <div class="icon-fa-mallet"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="random">
                        <div class="icon-yc-dice"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="1">
                    <div class="yc-button yc-main-button">1</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="2">
                    <div class="yc-button yc-main-button">2</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="3">
                    <div class="yc-button yc-main-button">3</div>
                </div>
            </div>

            <div class="pure-g yc-standard-row">
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-glyph">
                        <div class="icon-fa-ellipsis"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-undo yc-glyph">
                        <div class="icon-fa-undo"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-clear">
                    <div class="yc-button yc-main-button yc-cancel-button yc-removal-button">C</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-backspace">
                    <div class="yc-button yc-main-button yc-removal-button yc-glyph">
                        <div class="icon-yc-backspace"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="0">
                    <div class="yc-button yc-main-button">0</div>
                </div>
            </div>

            <div class="pure-g yc-standard-row yc-timer-font">
                <div class="pure-u-2-5 yc-cell">
                    <div id="yc-timer" class="yc-timer">
                        <div class="yc-timer-display">00:00</div>
                        <div class="yc-timer-previous-turn"></div>
                        <div class="yc-timer-next-turn"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-expression-evaluation">
                    <div class="yc-button yc-main-button yc-special-button yc-expression-evaluation-button yc-glyph">
                        <div class="icon-fa-terminal"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-plus">
                    <div class="yc-button yc-main-button yc-operator-button yc-glyph">
                        <div class="icon-fa-plus"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-minus">
                    <div class="yc-button yc-main-button yc-operator-button yc-glyph">
                        <div class="icon-fa-minus"></div>
                    </div>
                </div>
            </div>

            <div class="yc-window">
                <div class="yc-window-content yc-notes-window">
                    <div class="yc-window-dummy-top-padding"></div>
                    <div class="yc-window-dummy-padding"></div>
                    <div class="yc-notes-container">
                        <textarea class="yc-notes"></textarea>
                    </div>
                    <div class="yc-window-dummy-padding"></div>
                    <div class="yc-button yc-notes-clear-button">Clear</div>
                </div>
                <div class="yc-button yc-window-exit-button">
                    <div class="icon-fa-x"></div>
                </div>
            </div>
        </div>

        </div>



        <!--<div id="playerOperationContainer">
            <div class="clearfix" id="playerBoxes">
            <div class="playerBox" id="player0">
                <span class="lifePoints"></span>
                <span class="playerName">You</span>
                <span class="score"></span>
                <span class="tapHint"></span>
            </div>
            <div class="playerBox" id="player1">
                <span class="lifePoints"></span>
                <span class="playerName">Opponent</span>
                <span class="score"></span>
                <span class="tapHint"></span>
            </div>
            </div>

            <div id="operationBox">
            <div id="operation"></div>
            <div class="copyright">Yugioh Calculator v1.3 BETA<br>&copy; Jackson R. H. &amp; <a href="credits.txt">Co.</a></div>
            <div class="valueHint">
                Tap 2, 4 = 2400<br>
                Tap 0, 8 =&nbsp;&nbsp;&nbsp;800
            </div>
            </div>
        </div>

        <table id="buttons">
            <tr>
            <td class="specialButton uiButtonCell" id="random">
                <div class="uiButton">&nbsp;<div class="icon"></div></div>
            </td>
            <td class="specialButton uiButtonCell" id="reset">
                <div class="uiButton">&nbsp;<div class="icon"></div></div>
            </td>
            <td class="digitButton uiButtonCell" id="digit7">
                <div class="uiButton">7</div>
            </td>
            <td class="digitButton uiButtonCell" id="digit8">
                <div class="uiButton">8</div>
            </td>
            <td class="digitButton uiButtonCell" id="digit9">
                <div class="uiButton">9</div>
            </td>
            </tr>
            <tr>
            <td class="specialButton uiButtonCell" id="notes">
                <div class="uiButton">&nbsp;<div class="icon"></div></div>
            </td>
            <td class="specialButton uiButtonCell" id="history">
                <div class="uiButton">&nbsp;<div class="icon"></div></div>
            </td>
            <td class="digitButton uiButtonCell" id="digit4">
                <div class="uiButton">4</div>
            </td>
            <td class="digitButton uiButtonCell" id="digit5">
                <div class="uiButton">5</div>
            </td>
            <td class="digitButton uiButtonCell" id="digit6">
                <div class="uiButton">6</div>
            </td>
            </tr>
            <tr>
            <td id="donate" colspan="2" rowspan="2">
                <div class="wideButton" id="donateButton">
                    &nbsp;<div id="donateIcon"></div></div>
            </td>
            <td class="digitButton uiButtonCell" id="digit1">
                <div class="uiButton">1</div>
            </td>
            <td class="digitButton uiButtonCell" id="digit2">
                <div class="uiButton">2</div>
            </td>
            <td class="digitButton uiButtonCell" id="digit3">
                <div class="uiButton">3</div>
            </td>
            </tr>
            <tr>
            <td class="uiButtonCell" id="clear">
                <div class="uiButton">C</div>
            </td>
            <td class="uiButtonCell" id="backspace">
                <div class="uiButton">&nbsp;<div class="icon"></div></div>
            </td>
            <td class="digitButton uiButtonCell" id="digit0">
                <div class="uiButton">0</div>
            </td>
            </tr>
            <tr>
            <td id="timer" colspan="2">
                <div class="position-relative-hack">
                    <div class="wideButton" id="timerButton">
                        <span id="display"></span>
                    </div>
                    <div class="changeTurn" id="previousTurn"><div class="arrowIcon" id="previousTurnArrow"></div></div>
                    <div class="changeTurn" id="nextTurn"><div class="arrowIcon" id="nextTurnArrow"></div></div>
                </div>
            </td>
            <td colspan="3">
                <div class="uiButtonCell" id="add">
                    <div class="uiButton">+</div>
                </div><div class="uiButtonCell" id="subtract">
                    <div class="uiButton">&ndash;</div>
                </div>
            </td>
            </tr>
        </table>

        <div id="window">
            <div class="uiButtonCell" id="cancelButton"><div class="uiButton">X</div></div>

            <div class="windowSubView" id="resetView">
            <h1 class="windowTitle">Reset</h1>

            <p class="windowText">Who won?</p>
            <div class="specialButton uiButtonCell" id="player0Button"><div class="uiButton">Me</div></div>
            <div class="specialButton uiButtonCell" id="player1Button"><div class="uiButton">Opponent</div></div>
            <div class="specialButton uiButtonCell" id="drawButton"><div class="uiButton">Draw</div></div>

            <p class="windowText">Or...</p>
            <div class="specialButton uiButtonCell" id="newMatchButton"><div class="uiButton">New Match</div></div>

            </div>

            <div class="windowSubView" id="notesView">
            <h1 class="windowTitle">Notes</h1>
            <textarea id="notesTextarea"></textarea>
            <div class="specialButton uiButtonCell" id="clearNotesButton"><div class="uiButton">Clear</div></div>
            </div>

            <div class="windowSubView" id="historyView">
            <h1 class="windowTitle">History</h1>
            <div id="historyTableContainer">
                <table id="historyTable">
                    <script type="text/template" id="historyItemTemplate">
                        <tr class="<%= className %>">
                        <td class="displayName"><%= displayName %></td>
                        <td class="event"><%= event %></td>
                        <td class="timestamp"><%= timestamp %></td>
                        </tr>
                    </script>
                </table>
            </div>
            </div>

            <div class="windowSubView" id="randomView">
            <h1 class="windowTitle">Random</h1>
            <table id="randomTable">
                <tr>
                    <td class="specialButton uiButtonCell" id="roll">
                        <div class="uiButton">&nbsp;<div class="bigIcon"></div></div>
                    </td>
                    <td><div id="lastRoll"></div></td>
                </tr>
                <tr>
                    <td class="specialButton uiButtonCell" id="flip">
                        <div class="uiButton">&nbsp;<div class="bigIcon"></div></div>
                    </td>
                    <td><div id="lastFlip"></div></td>
                </tr>
            </table>
            </div>

            <div class="windowSubView" id="donateView">
            <h1 class="windowTitle">Support</h1>
            <p>
                Yugioh Calculator is a free web app.<br>
                If you like it, please support it!
            </p>

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QHWCQA5WCETXY">
                <div class="specialButton uiButtonCell" id="donate2Button"><button class="uiButton" name="submit">Discard $2<span class="donateIcon" id="donate2Icon"></span></button></div>
                <img class="paypalObject" alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="B9PUVPJNTVRT2">
                <div class="specialButton uiButtonCell" id="donate5Button"><button class="uiButton" name="submit">Tribute $5<div class="donateIcon" id="donate5Icon"></div></button></div>
                <img class="paypalObject" alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <small>(The buttons open PayPal in a new tab.)</small>
            </div>

        </div>-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- replace:requirejs -->
        <script data-main="scripts/main" src="../bower_components/requirejs/require.js"></script>
        <!-- endreplace -->
    </body>
</html>
