<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title>Yugioh Calculator | Free, Online Web App for Android, iPhone, iPad, iOS, BlackBerry &amp; Windows Phone</title>
        <meta name="description" content="A free Yugioh calculator app for iPhone, iPod, iPad, Android, BlackBerry & Windows Phone. Records Life Points and much more!">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="Yugioh Calc">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="canonical" href="http://www.yugiohcalculator.com/">
        <link rel="shortcut icon" href="favicon.ico">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/pure/pure.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/fonts.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="../bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>

        <div id="yc-calculator" class="yc-calculator">

            <div class="pure-g yc-standard-row yc-monospace-font yc-lcd">
                <div id="yc-player-0" class="pure-u-1-2 yc-cell yc-unpadded-cell">
                    <div class="yc-life-points"></div>
                    <div class="yc-tap-hint">
                        <div class="yc-tap-hint-content"></div>
                    </div>
                </div>
                <div id="yc-player-1" class="pure-u-1-2 yc-cell yc-unpadded-cell">
                    <div class="yc-life-points"></div>
                    <div class="yc-tap-hint">
                        <div class="yc-tap-hint-content"></div>
                    </div>
                </div>
            </div>

            <div class="pure-g yc-operation-row yc-monospace-font yc-lcd">
                <div class="pure-u-1-1 yc-cell yc-unpadded-cell">
                    <div id="yc-expression" class="yc-expression"></div>
                </div>
            </div>

            <div class="pure-g yc-standard-row">
                <div class="pure-u-1-5 yc-cell yc-restart-timer">
                    <div class="yc-button yc-main-button yc-special-button yc-glyph">
                        <div class="icon-fa-clock"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-reset-life-points">
                    <div class="yc-button yc-main-button yc-special-button yc-glyph">
                        <div class="icon-fa-reset"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="7">
                    <div class="yc-button yc-main-button">7</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="8">
                    <div class="yc-button yc-main-button">8</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="9">
                    <div class="yc-button yc-main-button">9</div>
                </div>
            </div>

            <div class="pure-g yc-standard-row">
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="notes">
                        <div class="icon-fa-pencil"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="history">
                        <div class="icon-fa-book"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="4">
                    <div class="yc-button yc-main-button">4</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="5">
                    <div class="yc-button yc-main-button">5</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="6">
                    <div class="yc-button yc-main-button">6</div>
                </div>
            </div>

            <div class="pure-g yc-standard-row">
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="ruling">
                        <div class="icon-fa-mallet"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="random">
                        <div class="icon-yc-dice"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="1">
                    <div class="yc-button yc-main-button">1</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="2">
                    <div class="yc-button yc-main-button">2</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="3">
                    <div class="yc-button yc-main-button">3</div>
                </div>
            </div>

            <div class="pure-g yc-standard-row">
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-window-button yc-glyph" data-window="info">
                        <div class="icon-fa-info"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell">
                    <div class="yc-button yc-main-button yc-special-button yc-undo yc-glyph">
                        <div class="icon-fa-undo"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-clear">
                    <div class="yc-button yc-main-button yc-cancel-button yc-removal-button">C</div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-backspace">
                    <div class="yc-button yc-main-button yc-removal-button yc-glyph">
                        <div class="icon-yc-backspace"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-digit" data-digit="0">
                    <div class="yc-button yc-main-button">0</div>
                </div>
            </div>

            <div class="pure-g yc-standard-row yc-timer-font">
                <div class="pure-u-2-5 yc-cell">
                    <div id="yc-timer" class="yc-timer">
                        <div class="yc-timer-display">00:00</div>
                        <div class="yc-timer-previous-turn"></div>
                        <div class="yc-timer-next-turn"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-expression-evaluation">
                    <div class="yc-button yc-main-button yc-special-button yc-expression-evaluation-button yc-glyph">
                        <div class="icon-fa-terminal"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-plus">
                    <div class="yc-button yc-main-button yc-operator-button yc-glyph">
                        <div class="icon-fa-plus"></div>
                    </div>
                </div>
                <div class="pure-u-1-5 yc-cell yc-minus">
                    <div class="yc-button yc-main-button yc-operator-button yc-glyph">
                        <div class="icon-fa-minus"></div>
                    </div>
                </div>
            </div>

            <div class="yc-window">
                <div class="yc-window-content yc-notes-window">
                    <div class="yc-window-dummy-top-padding"></div>
                    <textarea class="yc-notes" placeholder="Notes go here, fine sir."></textarea>
                    <div class="yc-window-dummy-padding"></div>
                    <div class="yc-button yc-pressable-button yc-notes-clear-button">Clear</div>
                    <h1 class="yc-window-title">Notes</h1>
                </div>
                <div class="yc-window-content yc-history-window">
                    <div class="yc-window-dummy-top-padding"></div>
                    <div class="yc-history-table-container">
                        <table class="yc-history-table">
                            <script type="text/template" class="yc-history-item-template">
                                <tr class="yc-history-row <%= className %>">
                                    <td class="yc-history-display-name"><%= displayName %></td>
                                    <td class="yc-history-icon"><%= icon %></td>
                                    <td class="yc-history-description"><%= description %></td>
                                    <td class="yc-history-timestamp"><%= timestamp %></td>
                                </tr>
                            </script>
                        </table>
                    </div>
                    <h1 class="yc-window-title">History</h1>
                </div>
                <div class="yc-window-content yc-random-window">
                    <div class="yc-window-dummy-top-padding"></div>
                    <div class="yc-random-container">
                        <div class="pure-g yc-random-row">
                            <div class="pure-u-1-2 yc-cell">
                                <div class="yc-button yc-pressable-button yc-special-button yc-random-button yc-roll">
                                    <div class="icon-yc-dice"></div>
                                </div>
                            </div>
                            <div class="pure-u-1-2 yc-cell">
                                <div class="yc-last-roll"></div>
                            </div>
                        </div>
                        <div class="pure-g yc-random-row">
                            <div class="pure-u-1-2 yc-cell">
                                <div class="yc-button yc-pressable-button yc-special-button yc-random-button yc-flip">
                                    <div class="icon-yc-coin"></div>
                                </div>
                            </div>
                            <div class="pure-u-1-2 yc-cell">
                                <div class="yc-last-flip"></div>
                            </div>
                        </div>
                    </div>
                    <h1 class="yc-window-title">Random</h1>
                </div>
                <div class="yc-window-content yc-ruling-window">
                    <div class="yc-window-dummy-top-padding"></div>
                    <div class="yc-ruling-form">
                        <input type="text" class="yc-ruling-input"><div class="yc-button yc-special-button yc-ruling-submit">Go</div>
                    </div>
                    <div class="yc-window-dummy-padding"></div>
                    <div class="yc-ruling-results">
                        <script type="text/template" class="yc-ruling-results-template">
                            <% if (error) { %>
                            Error: <%= error %>
                            <% } else { %>
                            <h2 class="yc-ruling-source-header"><a href="<%- source %>" target="_blank"><%- source %></a></h2>
                            <ul>
                                <% items.forEach(function (item) { %>
                                <li><%= item %></li>
                                <% }); %>
                            </ul>
                            <div class="yc-ruling-attribution">
                                <%= attribution %>
                            </div>
                            <% } %>
                        </script>
                    </div>
                    <h1 class="yc-window-title">Ruling</h1>
                </div>
                <div class="yc-window-content yc-info-window">
                    <div class="yc-window-dummy-top-padding"></div>
                    <div class="yc-window-text yc-info-text">
                        <p>App created by <a href="http://www.jacksonrayhamilton.com/">Jackson Ray Hamilton</a>.</p>
                        <p>Questions / comments? Email me at <a href="mailto:jackson@jacksonrayhamilton.com">jackson@jacksonrayhamilton.com</a>.</p>
                        <p>Credit to Caleb Evans for his backspace icon.</p>
                        <p>Credit to Edward Boatman for his dice icon.</p>
                        <p>Software licenses: <a href="licenses/almond-license.txt">almond</a>, <a href="licenses/async-license.txt">async</a>, <a href="licenses/backbone-license.txt">Backbone.js</a>, <a href="licenses/cheerio-license.txt">Cheerio</a>, <a href="licenses/connect-license.txt">Connect</a>, <a href="licenses/fastclick-license.txt">FastClick</a>, <a href="licenses/jquery-license.txt">jQuery</a>, <a href="licenses/modernizr-license.txt">Modernizr</a>, <a href="licenses/pure-license.txt">Pure</a>, <a href="licenses/request-license.txt">request</a>, <a href="licenses/requirejs-license.txt">RequireJS</a>, <a href="licenses/st-license.txt">st</a>, <a href="licenses/underscore-license.txt">Underscore.js</a>, <a href="licenses/urlrouter-license.txt">urlrouter</a>.</p>
                        <p>This site is not sponsored, endorsed, or otherwise affiliated with Kazuki Takahashi, NAS TV Tokyo or the Konami Corporation.</p>
                    </div>
                    <h1 class="yc-window-title">Info</h1>
                </div>
                <div class="yc-button yc-window-exit-button">
                    <div class="icon-fa-x"></div>
                </div>
            </div>

        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42439369-1', 'yugiohcalculator.com');
            ga('send', 'pageview');
        </script>

        <!-- replace:requirejs -->
        <script data-main="scripts/main" src="../bower_components/requirejs/require.js"></script>
        <!-- endreplace -->
    </body>
</html>
